<p style="color: green"><%= notice %></p>

<h1>Ana Maria Suciu Jouffroy</h1>

<div id="sections">
  <% @sections.each do |section| %>
    <%= render section %>
    <p>
      <%= link_to "Show this section", section %>
    </p>
  <% end %>
</div>


